@font-face{font-family:'icon'; src:
url('https://sites.google.com/site/hostln1dfsfdrfsd/home/sosa-webfont.woff') format('eot'),
url('https://sites.google.com/site/hostln1dfsfdrfsd/home/sosa.ttf') format('woff'),
url('https://sites.google.com/site/hostln1dfsfdrfsd/home/sosa.ttf') format('truetype'); }


.menu{list-style:none; margin-left:10px; border:1px solid #c0c0c0; float:left;border-radius:5px;
background:#eee;font-family:'Arial';padding:5px;width:200px;}
.menu li{position:relative; float:left;}
.menu li a{font-size:20px; color:#333; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{background:#ccc; color:#fff;border-radius:5px;}
.menu li   ul{position:absolute; top:23px; left: -46px; background-color:#fff; display:none;width:200px; }
.menu li:hover ul, .menu li.over ul{display:block;margin-top:7px;}
.menu li ul li{border:1px solid #c0c0c0; display:block; width:110px;background:#eee;width:209px;
padding-bottom:5px;padding-top:5px;}
.icon{
  font-family:'icon';
}


h1{
text-align:center;
}
a:link{
color:#373737;
}
body{
  font-family:'Arial';
  
}
hr{
  border:1px solid #373737;
}
.content{
  margin:10px auto;
  width:800px;
  background:white;
  border:2px solid #ccc;
}
